# Node Environment
NODE_ENV=development

# Server Configuration
URL=0.0.0.0
PORT=50055

# Database Configuration (Oracle)
DB_HOST=192.168.7.248
DB_PORT=1521
DB_USER=HXT_RS
DB_PASSWORD=HXT_RS
DB_NAME=orclstb
DB_SID=
DB_SERVICE_NAME=orclstb
DB_CONNECT_STRING=192.168.7.248:1521/orclstb

# Database Synchronization (set to false in production)
DB_SYNCHRONIZE=false

