# Service Configuration
URL=0.0.0.0
PORT=50053
NODE_ENV=development

# External Authentication (HIS System)
EXTERNAL_AUTH_URL=http://192.168.7.200:1401/api/Token/Login
# External User Room API (HIS System)
EXTERNAL_USER_ROOM_URL=http://192.168.7.236:1608
# HIS Version (e.g., 2.377.0)
HIS_VERSION=2.377.0
# Machine Name (e.g., DESKTOP-HPQH46O)
HIS_MACHINE_NAME=DESKTOP-HPQH46O
# Note: Basic Auth header is generated dynamically as: base64(HIS:username:password:version:machineName)
# Example: base64(HIS:vht2:t123456:2.377.0:DESKTOP-HPQH46O) = SElTOnZodDI6dDEyMzQ1NjoyLjM3Ny4wOkRFU0tUT1AtSFBRSDQ2Tw==

# Redis Configuration
# Redis đang chạy external trên host 192.168.68.209:6379
REDIS_HOST=192.168.68.209
REDIS_PORT=6379
REDIS_PASSWORD=t123456
REDIS_DB=0

# Users Service (for integration)
USERS_SVC_URL=localhost
USERS_SVC_PORT=50051

# External Database Configuration (HIS Employee DB)
EXTERNAL_DB_HOST=192.168.7.248
EXTERNAL_DB_PORT=1521
EXTERNAL_DB_USER=HIS_RS
EXTERNAL_DB_PASSWORD=HIS_RS
EXTERNAL_DB_SERVICE_NAME=orclstb

# API INPATIENT PARAM DEFAULT
INPATIENT_EXP_MEST_TYPE_ID=7
INPATIENT_ORDER_FIELD=MODIFY_TIME
INPATIENT_ORDER_DIRECTION=DESC
INPATIENT_IS_INCLUDE_DELETED=false
INPATIENT_DATA_DOMAIN_FILTER=false

# LIST EXPORT MEST TYPE RESULT 
OTHER_EXP_MEST_TYPE_ID=1,2,3,4,5 