# Node Environment
NODE_ENV=development

# Server Configuration
URL=0.0.0.0
PORT=50054

# Database Configuration (Oracle)
DB_HOST=192.168.7.248
DB_PORT=1521
DB_USER=HXT_RS
DB_PASSWORD=HXT_RS
DB_NAME=orclstb
DB_SID=
DB_SERVICE_NAME=orclstb
DB_CONNECT_STRING=192.168.7.248:1521/orclstb

# Database Synchronization (set to false in production)
DB_SYNCHRONIZE=false

# Default EXPORT_STATUS_ID for syncExpMestFromHis
# This value will be used as default when creating/updating ExpMest if exportStatusId is not provided
# Reference to MST_EXPORT_STATUS.id (local DB)
DEFAULT_EXPORT_STATUS_ID=2626d9a8-c95d-4710-9117-e8e9516e49fd

# Default WORKING_STATE_ID when all medicines of an inpatient exp mest are exported
# This value will be used to update WORKING_STATE_ID in EXP_INPATIENT_EXP_MEST when all medicines are exported
# Format: UUID (Reference to MST_EXPORT_STATUS.id)
DEFAULT_ALL_EXPORTED_WORKING_STATE_ID=

# Default WORKING_STATE_ID when all medicines of an inpatient exp mest are actually exported
# This value will be used to update WORKING_STATE_ID in EXP_INPATIENT_EXP_MEST when all medicines are actually exported
# Format: UUID (Reference to MST_EXPORT_STATUS.id)
DEFAULT_ALL_ACTUAL_STATUS_ID=

